---
# Identificação do SO (usado por tasks abaixo)
- name: Gather OS facts
  setup:
    gather_subset:
      - "!all"
      - "min"
      - "distribution"
      - "distribution_major_version"

# Instalação
- import_tasks: install.yml

# Configuração
- import_tasks: configure.yml

# Usuários e segurança
- import_tasks: users.yml
  when: elasticsearch_enable_security | bool

  # backup e snapshot
- import_tasks: backup.yml
  when: backup | bool